<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Artist</title>
</head>
<body>
<h1>Add Artist</h1>
<form action="/artists" method="post" th:object="${artist}">
    <table>
        <tr>
            <td>Artist:</td>
            <td><input type="text" th:field="*{artist}" required/></td>
        </tr>
        <tr>
            <td>Year:</td>
            <td><input type="number" th:field="*{year}" required/></td>
        </tr>
        <tr>
            <td>Region:</td>
            <td><input type="text" th:field="*{region}" required/></td>
        </tr>
        <tr>
            <td>Total Streams:</td>
            <td><input type="number" th:field="*{totalStreams}" required/></td>
        </tr>
    </table>
    <button type="submit">Add Artist</button>
</form>
<a href="/artists">Cancel</a>
</body>
</html>
