<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Artist</title>
</head>
<body>
<h1>Edit Artist</h1>
<form action="/artists/edit/{id}" method="post" th:object="${artist}">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Artist:</td>
            <td><input type="text" th:field="*{artist}" required/></td>
        </tr>
        <tr>
            <td>Year:</td>
            <td><input type="number" th:field="*{year}" required/></td>
        </tr>
        <tr>
            <td>Region:</td>
            <td><input type="text" th:field="*{region}" required/></td>
        </tr>
        <tr>
            <td>Total Streams:</td>
            <td><input type="number" th:field="*{totalStreams}" required/></td>
        </tr>
    </table>
    <button type="submit">Save Changes</button>
</form>
<a href="/artists">Cancel</a>
</body>
</html>
